In [4]:
class Pokemon:
    def __init__(self, id, name, type1, type2, total, hp, attack, defense, sp_atk, sp_def, speed, generation, legendary, image_path=None):
        self.id = id
        self.name = name
        self.type1 = type1
        self.type2 = type2 if type2 else 'None' 
        self.total = total
        self.hp = hp
        self.attack = attack
        self.defense = defense
        self.sp_atk = sp_atk
        self.sp_def = sp_def
        self.speed = speed
        self.generation = generation
        self.legendary = legendary
    def __repr__(self):
        return f"Pokemon({self.name}, Type: {self.type1}/{self.type2})"

In [5]:
import pandas as pd
import csv

path = r'C:\Users\USER\PycharmProjects\Mid_Project\Mid_Project\Mid_Project\Docs\Pokemon.csv'

# Load the dataset into a pandas DataFrame
pokemon_df = pd.read_csv(path)

pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,1021,Raging Bolt,Electric,Dragon,590,125,73,91,137,89,75,9,True
1100,1022,Iron Boulder,Rock,Dragon,590,90,120,80,68,108,124,9,True
1101,1023,Iron Crown,Steel,Psychic,590,90,72,100,122,108,98,9,True
1102,1024,Terapagos,Normal,NaN,700,160,105,110,130,110,85,9,True
1103,1025,Pecharunt,Poison,Ghost,600,88,88,160,88,88,88,9,True

In [7]:
## Cleaning and sorting

pokemon_df = pokemon_df.drop_duplicates()

pokemon_df = pokemon_df.sort_values(by='#', ascending=True)

pokemon_df = pokemon_df.reset_index(drop=True)

In [6]:

# List to hold all the Pokemon objects
pokemon_objects = []

# Iterate over each row in the DataFrame and create a Pokemon object
for index, row in pokemon_df.iterrows():
    pokemon = Pokemon(
        id=row['#'],
        name=row['Name'],
        type1=row['Type 1'],
        type2=row['Type 2'] if pd.notnull(row['Type 2']) else 'None',  # Handling potential NaN values
        total=row['Total'],
        hp=row['HP'],
        attack=row['Attack'],
        defense=row['Defense'],
        sp_atk=row['Sp. Atk'],
        sp_def=row['Sp. Def'],
        speed=row['Speed'],
        generation=row['Generation'],
        legendary=row['Legendary']
    )
    pokemon_objects.append(pokemon)

# Example: Print the first 5 Pokemon objects to verify
for pokemon in pokemon_objects[:5]:
    print(pokemon)

Pokemon(Bulbasaur, Type: Grass/Poison)
Pokemon(Ivysaur, Type: Grass/Poison)
Pokemon(Venusaur, Type: Grass/Poison)
Pokemon(VenusaurMega Venusaur, Type: Grass/Poison)
Pokemon(Charmander, Type: Fire/None)

In [8]:
# Corrected file path
Path_sorted = r'C:\Users\USER\PycharmProjects\Mid_Project\Mid_Project\Mid_Project\Docs\Data\Pokemons_sorted.csv'

# Save the DataFrame to CSV
pokemon_df.to_csv(Path_sorted, index=False)

In [10]:
pokemon_df[pokemon_df['Name'].str.contains('Pikachu|Lugia|zapdos', case=False)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
269,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True

In [11]:
pokemon_df[pokemon_df['Legendary'] == True]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,1021,Raging Bolt,Electric,Dragon,590,125,73,91,137,89,75,9,True
1100,1022,Iron Boulder,Rock,Dragon,590,90,120,80,68,108,124,9,True
1101,1023,Iron Crown,Steel,Psychic,590,90,72,100,122,108,98,9,True
1102,1024,Terapagos,Normal,NaN,700,160,105,110,130,110,85,9,True
1103,1025,Pecharunt,Poison,Ghost,600,88,88,160,88,88,88,9,True